<div class="logo-container">
	<img id="logo index-title" class="index-logo" src="http://s3.amazonaws.com/eda-quick-draw/quick-draw-logo.png">
</div>

<canvas id="myCanvas"></canvas>

<script src="assets/init.js"></script>

