<h1>MAKE A TABLE THING AND THEN</h1>
<h1>ITERATE THROUGH A THING THAT WE</h1>
<h2>pass to it</h2>
<h3>probably something like</h3>
<h3>high</h3>
<h4>scooooreeesssss</h4>
<h1>BUTTON AS WELL HERE</h1>
<h4>it calls a thing</h4>
<h5>start the mothafucking game</h5>

<ul>
	<% @top_10_players.each do |player| %>
	<li>
		<%= player.name %>: <%= player.scores.map{ |score| score.points }.sort.last %>
	</li>
	<% end %>
</ul>

<%= button_to "start the game!", game_path  %>