#game { 
	display: none;
}

body {
	height:100%;
	width:100%;
	/*background-image: url('the-floor.png');
	background-size: 100% 100%;*/
	color: #E04A3B;
	margin-top: 20px
}

#background {
	min-height: 100%;
	min-width: 100%;

	width: 100%;
  height: auto;

  position: fixed;
  top: 0;
  left: 0;
  z-index: -5;
}

#myCanvas {
	position: fixed;
	z-index: 5;
}

.previously-on-quick-draw {
	top: 58px;
	right: 20px;
	position: fixed;
	z-index: -3;
}

.errors {
	position: fixed;
	z-index: -4;
	top: 100px;
	left: 20px;
}


.pure-table {
  background-color: rgba(224, 74, 59, .8);
  background-color-alpha: 60%;
	margin: 20px auto;
	font-family: 'Numans', sans-serif;
	font-size: 1.25vw;
	color: black;
}

.pure-table th {
	background-color: white;
}

#button-holder, .button-holder, .form-holder {
	margin: 0 auto ;
}


.pure-form {
	margin-top: 8px;
	min-width: 300px;
}

.pure-button {
	margin: 10px 0px;
	background-color: white;
	font-size: 1.25vw;
	border-radius: 4%;
}

.logo {
	margin-left: auto;
	margin-right: auto;
}

.index-logo {
	float: left;
	width: 160px;
	margin-left: 10px;
	z-index: -1;
	position: fixed;
}

.logo-container {

}

#index-title {
	/*color: #E04A3B;*/
	margin: 20px auto;
}

#scores-title {
	margin: 5px auto;
}

.center {
	margin: 20px auto;
}

.pure-g {
	letter-spacing: 0;
}

.padding-div {
	margin-top: 60px;
	margin-bottom: 40px;
}

.links-holder {
	background-color: rgba(224, 74, 59, .8);
	background-color-alpha: 50%;
  bottom: 5px;
  width: 100%;
  text-align: center;
  font-size: 1.25vw;
}

.links-holder a {
	margin: 5px auto;
}

.bottom {
	bottom: 5px;
	position: fixed;
	width: 100%;
}

#login-holder {
	text-align: center;
}

#logout-holder {
	text-align: center;
}

.devise-button {
	margin-top: 20px;
	font-size: 1.25vw;
}

input[type="submit"] {
	border-radius: 4%;
	background-color: white;
	box-shadow: inset 0 1px 3px #ddd;
	font-family: 'Numans', sans-serif;

}

input[type="password"], input[type="text"], input[type="email"] {
	width: 300px;
}

#everything-holder {
	z-index: 1;
	max-height: 100%
}


